{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
<form method="POST" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
    </div>
    <div>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
    </div>
    <div>
        {{ form.remember.label }}<br>
        {{ form.remember() }}<br>
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}
